<ion-view title="FB Login">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-list>



                <div class="button-bar-padding social-login">
                    <!--<button class="button button-block button-border icon-left ion-social-facebook button-fb" ng-click="fbLogin()">Login with Facebook</button>-->
                    <button class="button button-block button-border icon-left ion-social-facebook button-fb" ng-click="facebookLogin()">Login with Facebook</button>
                </div>



        </form>


        <div id="status">
        </div>
    </ion-content>
</ion-view>